<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ApplicationyamlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.domain.entity.Applicationyaml">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="application" property="application" />
        <result column="fileName" property="filename" />
        <result column="description" property="description" />
        <result column="creationDate" property="creationdate" />
        <result column="updatedate" property="updatedate" />
        <result column="yaml" property="yaml" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, email, application, fileName, description, creationDate, updatedate, yaml
    </sql>

</mapper>
